body{
    margin: 0;
    padding: 0;
    background-color: #f0bbe8;
}
header{
    background-color: rgb(214, 154, 234);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    height: 150px;
    border-style:groove;
    border-width: 3px;
    border-color: brown;
    border-radius: 10px;
}
h1{
   margin: 0; 
   font-family: 'Dancing Script';
   font-size: xx-large;
   text-align: center;
   top: 40%;
   left: 50%;
   font-style: italic;
   color: #4f1546;
   position: absolute;
   transform: translate(-50%,-50%);
}
ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    bottom: 0px;
    position: absolute;
    gap: 250px;
    font-weight: bold;
    flex-direction: row;
}
#option1,#option2,#option3,#option4{
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
}
#option1:hover,#option2:hover,#option3:hover,#option4:hover{
    transform: translateY(2px);
    text-shadow: 1px 1px 3px rgba(122, 18, 92, 0.3),
    3px 3px 6px rgba(122, 18, 92, 0.3),
    6px 6px 10px rgba(122, 18, 92, 0.3);
}
h2{
    padding: 13px;
    left: 15%;
    font-style: italic;
    font-size: x-large;
    color: brown;
    text-shadow: 2px 2px 6px rgba(188, 24, 180, 0.3);
}
h3{
    padding-left: 50%;
    font-family: serif;
    font-weight: bold;
    font-size: x-large;
    color: rgb(197, 26, 26);
    padding-top: 0%;
}
#dresses{
    display: flex;
    justify-content: space-around;
}
.i1{
    height: 350px;
    width: 260px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.i1:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}
.d{
    text-align: center;
    border: black solid 2px;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}
.b{
    display: flex;
    flex-direction: column;

    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1px;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    margin: auto;
    font-style: normal;
    color: black;
   
    cursor: pointer;
    transition: all 0.3s ease;
}
button{
    background-color: rgb(120, 218, 179);
    color: black;
    padding: 7px;
}
.b button:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
footer #name{
    font-weight: bolder;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    margin: 0;
    padding: 10px;
    margin-top: 45px;
    background-color: rgb(149, 144, 147);
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
}
#heading{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.head{
    text-align: center;
}
h4{
    text-decoration: underline rgba(2, 3, 1, 0.877);
}